:root{
      /* Fonts */
  --font: 'Roboto', sans-serif;
  --s:0.75rem;
  --m:1rem;
  --l:3.125rem;
  --fw-bold: 700;
  --fw-normal:400;
  /* Sizes */
  --max-width: 90rem;
  --min-height: 50rem;
  --max-width-content: 80.556%;
  --btn-width:3.75rem;
  --btn-height:3.75rem;

  /* Colors */
  --black: #000;
  --white: #fff;
  --color--default: #527CCD;
  --color--border: #C8D9FB;

}