.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--btn-width);
    height: var(--btn-height);  
    border: 1px solid var(--color--border);
    // transition: all 0.01s ease-in-out;
    cursor: pointer;
    &.next{
        transform: rotate(180deg);    
    }
    &:active, .prev, .next{
        background-color: var(--color--border);
        & path{
            stroke: var(--white);
           
        }      
    }
}
